:root {
    --color-primary: #4B69FD;
    --color-secondary: #FFF9EB;
    --color-tertiary: #C4C4C4;
    --color-button: #fe652b;
    --color-button-hover: #e55720;
    --color-text: #444444;
    --color-white: #FFFFFF;
}

/* Estilos gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh; /* Altura total da visualização */
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    background-color: var(--color-primary); /* Cor de fundo */
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px; /* Largura máxima */
    width: 100%; /* Responsivo */
    padding: 20px;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente os elementos internos */
    align-items: center; /* Centraliza verticalmente os elementos internos */
    flex-direction: column; /* Coloca os elementos um embaixo do outro */
    background-color: var(--color-secondary); /* Fundo do contêiner */
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para destaque */
}

/* Conteúdo principal */
.main-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

/* Banner */
.header-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

/* Seção de entrada */
.input-section {
    background-color: var(--color-secondary);
    border-radius: 64px 64px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
}

/* Títulos */
.main-title {
    font-size: 48px;
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: italic;
    color: var(--color-white);
}

.section-title {
    font-family: "Inter", serif;
    font-size: 36px;
    font-weight: 700;
    color: var(--color-primary);
    margin: 10px 0;
    text-align: center;
}

/* Estilização do campo de entrada */
.input-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
}

.input-name {
    width: 100%;
    padding: 10px;
    border: 2px solid var(--color-tertiary);
    border-radius: 25px 0 0 25px;
    font-size: 16px;
}

/* Botões */
.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    color: var(--color-white);
    background-color: var(--color-button);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--color-button-hover);
}
